body {
 background-image: url(../images/fond.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 300%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -13px;
}
#div1
{
  position: absolute;
  left: 0px;
  top: 32px;
  text-align: center;
  font-size: 1.2rem;
}
#div2
{
   position: absolute;
  left: 0px;
  top: 1300px;
  text-align: center;
  font-size: 1.2rem; 
}
#Fdoppler{
	position: absolute;
  top: 680px;
	left: 1350px;
  height: 80px;
}
h2
{
  color: red;
  text-decoration:underline;
}
i
{
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 8px;
  color: black;
}
#home
{
  position: absolute;
  top: +3.5px;
z-index: 1;
  height: 50px;
  width: 50px;
}
video
{
  position:absolute;
  top: 131%;
  left: calc(50vw - 190px);
  width: 380px;
  z-index:1;
}