body {
 background-image: url(../images/grotte.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -15px;
}
#schema
{
	height: 40%;
	width:30%;
	position:absolute;
	top:400px;
	margin-left: 35%;
	}
#div1{
	font-size:25px;
	color: yellow;
	position: absolute;
	top: 70px;
	width:1500px;
	text-align:center;
}	