body {
 background-image: url(../images/fond.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 92.2%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -15px;
}
.div1{

	display:flex;
	position:absolute;
	top: 19%;
	justify-content: center;
	justify-content: space-around;
	
}


.aveugle{
width: 10%;	
}
.Cachalot{
width: 20%;
	
}
.C-S{
width: 20%;
	
}
.div2{

	position:absolute;
	top: 5%;
	width: 95%;
	
}
.PB{
	font-weight: bolder;
	font-size:35px;
	text-align: center;
	color:lime;
}