body {
 background-image: url(../images/fondgrotte.jpg);
 background-size: 165%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 165%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#buttons
{
	position: absolute;
	z-index:1;
	top: 0px;
	left:92vw;
}
#titletpe {
	
  text-align: center;
  position: relative;
  z-index: 0;
  top: -64px;
}
#schema
{
	width:350px;
	position:absolute;
	top:125.37vh;
	
	left: calc(25% - 175px);
	}
	#SOH
{
	width:350px;
	position:absolute;
	top:125.37vh;
	
	left: calc(75% - 175px);
	}
#div1{
	font-size:25px;
	color: white;	
	position: absolute;
	top: 6.5vh;
	left: calc(50% - 600px);
	width:1200px;
	text-align:center;
}	
#div2{
	font-size:22px;
	color: yellow;
	position: absolute;
	top: 70.8vh;
	left: calc(50% - 600px);
	width:1200px;
	text-align:center;	
}
#div3{
	font-size:25px;
	color: white;
	position: absolute;
	top: 43.7vh;
	left: calc(50% - 600px);
	width:1200px;
	text-align:center;	
}
i
{
  position: absolute;
  top: 8px;
  left: 8px;
  color: black;
}
#home
{
  position: relative;
  top: +1.5px;
  z-index: 1;
  height: 50px;
  width: 50px;
}
