body {
 background-image: url(../images/fondgrotte.jpg);
 background-size: 200%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -13px;
}
#schema
{
	height: 40%;
	width:30%;
	position:absolute;
	top:1000px;
	margin-left: 65%;
	}
#div1{
	font-size:25px;
	color: white;	
	position: absolute;
	top: 70px;
	width:1500px;
	text-align:center;
}	
#div2{
	font-size:25px;
	color: white;
	position: absolute;
	top: 1000px;
	left: 10px;
	width:900px;
	text-align:center;	
}
#div3{
	font-size:25px;
	color: white;
	position: absolute;
	top: 450px;
	left: 10px;
	width:1500px;
	text-align:center;	
}
i
{
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 8px;
  color: black;
}
#home
{
  position: absolute;
  top: +3.5px;
z-index: 1;
  height: 50px;
  width: 50px;
}