body {
 background-image: url(../images/fondindex2.jpg);
 background-size: 170%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 170%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -15px;
}
#buttons
{
	position: absolute;
	z-index:1;
	top: 0px;
	left:92vw;
}
#div1
{
  position: absolute;
  left: calc(50% - 600px);
  top: 10%;
  width: 1200px;
  text-align: center;
  font-size: 1.3rem;
}


#Fdoppler{
	position: absolute;
  top: 110vh;
  width:650px;
	left: calc(50% - 325px);
  height: 300px;
}
h2
{
  color: red;
  text-decoration:underline;
}
i
{
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 8px;
  color: black;
}
#home
{
  position: absolute;
  top: +1.5px;
z-index: 1;
  height: 50px;
  width: 50px;
}
#fq
{
  position: absolute;
  width: 220px;
  left: calc(50% - 110px);
  top: 140vh;
}
