body {
 background-image: url(../images/grotte.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color:white;
  box-shadow: 0 3px 3px;
}
footer {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px;
}
#titletpe {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -15px;
}
#schema
{
	height: 40%;
	width:30%;
	position:absolute;
	top:400px;
	margin-left: 35%;
	}
#div1{
	font-size:25px;
	color: white;	
	position: absolute;
	top: 70px;
	width:1500px;
	text-align:center;
}	
#div2{
	font-size:25px;
	color: black;
	font-family: "Flamante Roma Medium";
	position: absolute;
	top: 400px;
	left: 10px;
	width:500px;
	text-align:center;	
}
#bouttonfleche1
{
	position: absolute;
	height: 80px;
	top:730px;
	left: 750px;
}
i
{
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 8px;
  color: black;
}
#home
{
  position: absolute;
z-index: 1;
  height: 50px;
  width: 50px;
}